@use "../base/variables" as vars;
@use "../base/mixins.scss" as mix;

.card {
  position: relative;
  background: var(--color-surface);
  border-radius: vars.$radius-softer;
  font-size: 1.6rem;
  text-align: left;
  border: 1px solid var(--color-primary-border);
  box-shadow: 0 0 4px var(--color-box-shadow);
  width: 100%;
  overflow: visible;
  max-width: 38rem;

  &-container {
    height: 12rem;
    border-top-left-radius: vars.$radius-softer;
    border-top-right-radius: vars.$radius-softer;
    overflow: hidden;

    &__img {
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-header {
    border-bottom: 1px solid var(--color-primary-border);
  }

  &-body {
    padding: vars.$padding-4;
    color: var(--color-dark-light);
  }

  &-title {
    padding: vars.$padding-4;
    color: var(--color-dark-light);
    font-size: 1.8rem
  }
}

.--stacked {
  &::before {
    position: absolute;
    inset: 0 0;
    transform: translate(0.6rem, -0.6rem);
    content: "";
    z-index: vars.$z-below;
    height: 100%;
    width: 100%;
    background: var(--color-surface);
    border-radius: vars.$radius-softer;
    border: 1px solid var(--color-primary-border);
    box-shadow: 0 0 4px var(--color-box-shadow);
  }
}

.--status {
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0.4rem;
    background: var(--color-success);
    border: 1px solid var(--color-primary-border);
  }

  &-primary::before {
    background: var(--color-primary);
  }

  &-secondary::before {
    background: var(--color-secondary);
  }

  &-success::before {
    background: var(--color-success);
  }

  &-warning::before {
    background: var(--color-warning);
  }

  &-danger::before {
    background: var(--color-danger);
  }

  &-info::before {
    background: var(--color-info);
  }

  &-dark ::before {
    background: var(--color-dark);
  }

  &-light ::before {
    background: var(--color-light);
  }
}

.--aside {
  @include mix.tablet {
    max-width: 110rem;
    min-height: 26rem;
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 5rem auto;

    &-image {
      grid-column: 1/2;
      grid-row: 1/3;
      height: auto;
      border-top-right-radius: 0;
      border-bottom-left-radius: vars.$radius-softer;
    }

    &-title {
      grid-column: 2/3;
      grid-row: 1/2;
      padding-left: vars.$padding-6;
      padding-top: vars.$padding-5;
    }

    &-body {
      grid-column: 2/3;
      grid-row: 2/3;
      padding-left: vars.$padding-6;
    }
  }
}
