@use "./base/fonts";
@use "./base/resets";
@use "./base/theme";

// Components
@use "./components/button.scss";
@use "./components/card.scss";

.single-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
