// Weights
$poppins-thin: 100;
$poppins-extralight: 200;
$poppins-light: 300;
$poppins-regular: 400; // Body weight
$poppins-medium: 500; // Subheaders weight
$poppins-semibold: 600;
$poppins-bold: 700; // Headers weight
$poppins-extrabold: 800;
$poppins-black: 900;

// Radius
$radius-soft: 0.5rem;
$radius-softer: 1rem;
$radius-softest: 1.5rem;
$radius-round: 9999px;

// Padding
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 1rem;
$padding-4: 1.5rem;
$padding-5: 2rem;
$padding-6: 3rem;
$padding-7: 5rem;
$padding-8: 8rem;

// Margin
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 1.5rem;
$margin-5: 2rem;
$margin-6: 3rem;
$margin-7: 5rem;
$margin-8: 8rem;

// Z-Index
$z-below: -1;
$z-base: 0;
$z-content: 100;
$z-header: 200;
$z-sticky: 300;
$z-overlay: 400;
$z-dropdown: 500;
$z-modal: 600;
$z-toast: 700;
$z-tooltip: 800;
$z-top: 999;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;

// Colors - Light
$bg: #ffffff;
$bg-yellow: #fff8e5;
$surface: #ffffff;
$text: #1e1e1e;
$text-secondary: #555555;
$border: #e0e0e0;
$icon: #6b6b6b;
$button-text: #000000;
$bright-gray: #e5e7eb;

// Colors - Light (Primary)
$primary: #3182ce;
$secondary: #718096;
$success: #48bb78;
$warning: #ed8936;
$danger: #e53e3e;
$info: #4299e1;
$dark-light: #101112;
$dark: #2d3748;
$light: #f7fafc;
$accent: #ffd54f;
$accent-hover: #ffc107;

// Colors - Dark
$drk-bg: #1a1a1a;
$drk-bg-yellow: #101010;
$drk-surface: #030303;
$drk-text: #cfcfcf;
$drk-text-secondary: #b0b0b0;
$drk-border: #2c2c2c;
$drk-con: #aaaaaa;
$drk-button-text: #000000;
$drk-bright-gray: #1a1b24;

// Colors - Primary (Dark)
$drk-primary: #4299e1;
$drk-secondary: #9ca3af;
$drk-success: #38a169;
$drk-warning: #dd6b20;
$drk-danger: #f56565;
$drk-info: #3182ce;
$drk-dark: #171923;
$drk-dark-light: #cfcfcf;
$drk-light: #e2e8f0;
$drk-accent: #ffca28;
$drk-accent-hover: #ffd740;
