// Colors
$color-primary: #3182ce;
$color-secondary: #718096;
$color-success: #48bb78;
$color-warning: #ed8936;
$color-danger: #e53e3e;
$color-info: #4299e1;
$color-dark: #2d3748;
$color-light: #f7fafc;

// Weights
$poppins-thin: 100;
$poppins-extralight: 200;
$poppins-light: 300;
$poppins-regular: 400; // Body weight
$poppins-medium: 500; // Subheaders weight
$poppins-semibold: 600;
$poppins-bold: 700; // Headers weight
$poppins-extrabold: 800;
$poppins-black: 900;

// Radius
$radius-soft: 0.5rem;
$radius-softer: 1rem;
$radius-softest: 1.5rem;
$radius-round: 9999px;
