// Weights
$poppins-thin: 100;
$poppins-extralight: 200;
$poppins-light: 300;
$poppins-regular: 400; // Body weight
$poppins-medium: 500; // Subheaders weight
$poppins-semibold: 600;
$poppins-bold: 700; // Headers weight
$poppins-extrabold: 800;
$poppins-black: 900;

// Fonts

// Regular
$poppins-thin: "poppins-thin";
$poppins-extralight: "poppins-extralight";
$poppins-light: "poppins-light";
$poppins-regular: "poppins-regular";
$poppins-medium: "poppins-medium";
$poppins-semibold: "poppins-semibold";
$poppins-bold: "poppins-bold";
$poppins-extrabold: "poppins-extrabold";
$poppins-black: "poppins-black";
// Italic
$poppins-thin-italic: ".poppins-thin-italic";
$poppins-extralight-italic: ".poppins-extralight-italic";
$poppins-light-italic: ".poppins-light-italic";
$poppins-regular-italic: ".poppins-regular-italic";
$poppins-medium-italic: ".poppins-medium-italic";
$poppins-semibold-italic: ".poppins-semibold-italic";
$poppins-bold-italic: ".poppins-bold-italic";
$poppins-extrabold-italic: ".poppins-extrabold-italic";
$poppins-black-italic: ".poppins-black-italic";

// Radius
$radius-soft: 0.5rem;
$radius-softer: 1rem;
$radius-softest: 1.5rem;
$radius-round: 9999px;
